# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = splash_smart_proxy_manager_example.settings

[deploy]
project = splash_smart_proxy_manager_example
