# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = splash_scrapy_spm_headless_proxy_example.settings

[deploy]
project = splash_scrapy_spm_headless_proxy_example
